<div class="container inst-container">
<div class="row">
    <div class="col s12 m6">
      <div class="card cyan darken-2">
        <div class="card-content white-text">
          <span class="card-title"><h4>Instruction:(Very Simple!)</h4></span>
             <h5>Steps</h5>        
            <h5>1.Login with your Google Account</h5>
            <h5>2.Start writhing blogs by clicking on the add button provided on the right-bottom corner</h5>
            <h5>3.Either make your blogs public (share it with everyone) or keep it private (just for yourself)</h5>
        </div>
        
      </div>
    </div>
  </div>
  </div>