
<h3>
    <i class="fas fa-blog"></i>  DeineBlogs
</h3>
<div class="section">
    <p class="lead">
        Create Public and Private Blogs from your Life
    </p>
</div>
<div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn blue darken-1"><i class="fab fa-google"></i> Login With Google</a>
    </div>
